# Visual Studio Code settings
.vscode/

# Byte-compiled
__pycache__/

# Distribution
dist/
build/

# pyinstaller
*.spec

# Unit test coverage
.pytest_cache/

# Run
runs/
*.log
*.pth.tar
metrics_*.json
